<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Dynamic web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Chandrahasa</display-name>
    <servlet-name>Chandrahasa</servlet-name>
    <servlet-class>com.chandra.Chandrahasa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chandrahasa</servlet-name>
    <url-pattern>/Chandrahasa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classservelet</display-name>
    <servlet-name>Classservelet</servlet-name>
    <servlet-class>servlet1.Classservelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classservelet</servlet-name>
    <url-pattern>/Classservelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletDemo</display-name>
    <servlet-name>ServeletDemo</servlet-name>
    <servlet-class>com.newservelet.ServeletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDemo</servlet-name>
    <url-pattern>/ServeletDemo</url-pattern>
  </servlet-mapping>
</web-app>